.game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

.box {
    background: #444;
    border: 1px solid #555;
    text-align: center;
    font-size: xx-large;
}